footer {
  background-color:pink;
  position: absolute;
  margin-top: 300px;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  /*vertically centers the Footer */
}

.footerText {
  color: black;
  font-size: 12px;
  text-align: center;
}
